In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("/Users/sanhorn/Desktop/Internships/AI:ML Team/LLM/Dataset/UIUC GPA/uiuc_gpa_final.csv")
df

     Course Name  Average GPA
0         AAS100     3.535190
1         AAS105     3.695965
2         AAS120     3.254548
3         AAS200     3.507200
4         AAS211     3.333846
...          ...          ...
4571       VM654     2.901961
4572       VM655     2.928571
4573       VM656     2.865079
4574     YDSH220     3.573856
4575     YDSH320     3.364454

[4576 rows x 2 columns]

In [10]:
top_courses = df.nlargest(5, 'Average GPA')
print(top_courses)

     Course Name  Average GPA
3502      MUS273     3.990354
2793       IS534     3.989848
1938     EPSY559     3.983659
3655     PATH641     3.983051
3553     MUSC476     3.982500

In [ ]:
df.sort_values(ascending=True, by=['Average GPA'], inplace=True)

None